target/test-classes/com/tisconet/tdm/s3gateway/S3gatewayApplicationTests.class
target/surefire-reports/com.tisconet.tdm.s3gateway.S3gatewayApplicationTests.txt
target/surefire-reports/TEST-com.tisconet.tdm.s3gateway.S3gatewayApplicationTests.xml
target/s3gateway-0.0.1-SNAPSHOT.jar.original
target/s3gateway-0.0.1-SNAPSHOT.jar
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-archiver/pom.properties
target/classes/com/rex/tdm/sftptrigger/config/SFTPConfig.class
target/classes/com/rex/tdm/sftptrigger/config/SFTPConfig$2.class
target/classes/com/rex/tdm/sftptrigger/config/SFTPConfig$1.class
target/classes/com/rex/tdm/sftptrigger/SftpTriggerApplication.class
target/classes/application.properties
target/classes/META-INF/maven/com.tisconet.tdm/sftptrigger/pom.xml
target/classes/META-INF/maven/com.tisconet.tdm/sftptrigger/pom.properties
target/classes/META-INF/MANIFEST.MF
mvnw.cmd
mvnw
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.core.resources.prefs
.project
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper.jar
.classpath
